@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.coffee-brown {
  text-decoration: none;
  color: var(--color-accent);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 2rem;
  }
}

.submit-button {
  background-color: var(--color-accent);
  color: var(--color-background);
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: ease 0.2s;
  &:hover {
    background-color: var(--color-highlight);
  }
  &:active {
    transition: none;
    background-color: var(--color-accent);
  }
}
